/* @import './fonts'; */
@import './render';
@import './page';
@import './mobile';
@import './pc';

body {
    font-family: 'Inter';
    font-weight: 400;
    max-width: 100vw !important;
    overflow-x: hidden;
    min-height: 120vh;
}

a, div {
    transition: all .3s ease-in-out;
}

._hidden {
    display: none !important;
}