/* @import './fonts'; */
@import './render';
@import './page';
@import './mobile';
@import './pc';

body {
    font-family: 'Inter';
    font-weight: 400;
    max-width: 100vw !important;
    overflow-x: hidden;
    height: 150vh;
}

a, div {
    transition: all .3s ease-in-out;
}

._hidden {
    display: none !important;
}

input[type=number]{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
