.pageCtnr {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  color: #00ffff;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mainMenu {
  display: flex;
  /* font-family: 'Inter'; */
  font-weight: 500;
  margin-top: -10px;

  .mainMenuItem {
    margin: 20px;
    padding-bottom: 4px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #00ffff;
      }
    }

    &.active {
      border-bottom: 3px solid #00ffff;
    }
  }
}

.ActionBtn {
    min-width: 40px;
    max-width: 180px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 40px;
    border: 2px solid #00ffff;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
        color: #141414;
        background: #00ffff;
    }
}

.centralDiagram {
  position: absolute;
  top: 300px;
  left: calc(50% - 20vw);
  background: transparent;
  width: 40vw;
  height: 40vw;
  z-index: 901;
}

.switchSection {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 40px;

  &.totalAmount {
    margin-top: 30px;
  }

  .switchItem {
    display: flex;
  }

  .topAmount {
    margin-left: 186px;
    display:grid;
    place-items:center;
  }
}

.stageHeading {
  margin-left: 25px;
}

.ctnrBorder {
  border-right: 1px solid #00ffff;
  padding-left: 10px;
  margin-right: 10px;
}

.infoContainer {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: end;

  &.office {
    align-items: flex-start;
    margin-top: 16px;
  }

  .amount {
    font-size: 24px;
    color: #FFF;

    &.withBtn {
      display: flex;
    }
  }

  .heading {
    font-size: 14px;
  }

}

.stageName {
  font-size: 24px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  padding-top: 3px;

  span {
    color: #00ffff;
  }
}

.stageCurrent {
  display: flex;
  border: 1px solid #00ffff;
  border-radius: 50px;
  margin: 20px 0 25px 25px;

  .tokenName {
    padding: 10px;
    width: 50%;
    min-width: 150px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #00ffff;
    user-select: none;
    cursor: pointer;
    padding-top: 13px;

    &.active {
      border: 3px solid #00ffff;
      border-radius: 50px;
      padding-top: 10px;
    }
  }
}

.descriptionContainer {
  max-width: 369px;

  .descriptionText {
    font-size: 14px;
  }
}

.hintRow {
  display: flex;
  margin-top: 10px;
  text-decoration: underline;
  color: #FFF;

  p {
    margin-left: 10px;
    margin-top: -0px;
  }
}

.diagramValue {
  position: absolute;
}

.dataOffice {
  display: flex;
  justify-content: space-between;
}


.dataHeading {
  border-left: 1px solid #00ffff;
  padding: 15px;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFF;
}

.withdrawBtn {
  border: 1px solid #00ffff; 
  border-radius: 100px;
  font-size: 12px;
  padding: 8px 12px;
  margin-left: 12px;
  text-transform: uppercase;
  color: #00ffff;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
      color: #141414;
      background: #00ffff;
  }
}

