.pageCtnr {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  color: #00ffff;
}

.vorpalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.pageContainer {
  width: 100%;
  max-width: 1600px;
  margin-top: 80px;
}

.mainMenu {
  display: flex;
  /* font-family: 'Inter'; */
  font-weight: 500;
  margin-top: -10px;

  .mainMenuItem {
    margin: 20px;
    padding-bottom: 4px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #00ffff;
      }
    }

    &.active {
      border-bottom: 3px solid #00ffff;
    }
  }
}

.ActionBtn {
    min-width: 40px;
    max-width: 180px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 40px;
    border: 2px solid #00ffff;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:focus {
        color: #141414;
        background: #00ffff;
    }
}

.centralDiagram {
  position: absolute;
  top: 300px;
  left: calc(50% - 20vw);
  background: transparent;
  width: 40vw;
  height: 40vw;
  z-index: 901;
  margin-top: 60px;
  max-width: 640px;
}

@media (min-width: 3100px) {
  .centralDiagram {
    left: calc(50% - 640px);
    width: 640px;
  }
}

.switchSection {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 40px;

  &.totalAmount {
    margin-top: 30px;
  }

  .switchItem {
    display: flex;
  }

  .topAmount {
    margin-left: 186px;
    display:grid;
    place-items:center;
  }
}

.stageHeading {
  margin-left: 25px;
}

.ctnrBorder {
  border-right: 1px solid #00ffff;
  padding-left: 10px;
  margin-right: 10px;
}

.infoContainer {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: end;

  &.office {
    align-items: flex-start;
    margin-top: 16px;
  }

  &.infoFt {
    min-width: 50px;
    width: 49%;
  }

  .amount {
    font-size: 24px;
    color: #FFF;

    &.withBtn {
      display: flex;
    }
  }

  .heading {
    font-size: 14px;
  }

}

.stageName {
  font-size: 24px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
  padding-top: 3px;

  span {
    color: #00ffff;
  }
}

.stageCurrent {
  display: flex;
  border: 1px solid #00ffff;
  border-radius: 50px;
  margin: 20px 0 25px 25px;

  .tokenName {
    padding: 10px;
    width: 50%;
    min-width: 150px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #00ffff;
    user-select: none;
    cursor: pointer;
    padding-top: 13px;

    &.active {
      border: 3px solid #00ffff;
      border-radius: 50px;
      padding-top: 10px;
    }
  }
}

.descriptionContainer {
  max-width: 369px;

  .descriptionText {
    font-size: 14px;
  }
}

.hintRow {
  display: flex;
  margin-top: 10px;
  text-decoration: underline;
  color: #FFF;

  p {
    margin-left: 10px;
    margin-top: -0px;
  }
}

.diagramValue {
  position: relative;
  transform: scale(0.5);
}

.dataOffice {
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
}


.dataHeading {
  border-left: 1px solid #00ffff;
  padding: 15px;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFF;
}

.withdrawBtn {
  border: 1px solid #00ffff; 
  border-radius: 100px;
  font-size: 12px;
  padding: 8px 12px;
  margin-left: 12px;
  text-transform: uppercase;
  color: #00ffff;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
      color: #141414;
      background: #00ffff;
  }
}

.calculationForm {
  min-width: 250px;
  min-height: 400px;
  width: 15%;
  margin-top: 20px;
  border: 1px solid #00ffff; 
  border-radius: 20px;
  padding: 3px;

  .calculationFormInner {
    border-radius: 20px;
    padding: 20px;
    width: 83%;
    height: 100%;
    min-height: 398px;
  }
}

.calculationForm {
  outline: 1px solid #00ffff;
  outline-offset: 4px;
}

.calculationField {
  margin-top: 15px;
}

.calcInputRow {
  margin-top: 5px;
  display: flex;
}

.calcIcon {
  display: flex;

  svg {
    margin-top: 6px;
    margin-left: 6px;
  }

  .calcIconText {
    margin-top: 9px;
    margin-left: 9px;
  }
}

.calcInputField {
  width: 120px;
  margin: 4px 0 4px 4px;
  border-radius: 4px;
  border: 1px solid #CC00FF;
  background: rgba(204, 0, 255, 0.2);
  color: #FFF;
  font-size: 24px;
}

.calcInputHint {
  margin: 10px 0 0 40px;
  font-size: 12px;
  color: #FFF;
  opacity: 0.3;
}

.partInfo {
  margin-top: 40px;
}

.partInfoRow {
  display: flex;
  justify-content: space-between;
}

.TermsRow {
  display: flex;
  margin-top: 40px;
}

.confirmField {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 20px;
  border: 1px solid rgba(231, 231, 231, 1);
  cursor: pointer;
}

.confirmText {
  margin-top: 12px;
  color: rgba(231, 231, 231, 1);
  font-size: 12px;

  a {
    text-decoration: underline;
  }

}

.actionStageBar {
  margin-top: 12px;
  display: flex;
  width: 100%;

  .stageLine {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    width: 49%;
    height: 1px;

    &.passed {
      border-bottom: 4px solid #00ffff;
    }
  }

  .stageBorder {
    height: 30px;
    margin-top: -12px;
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    &.passed {
      border-left: 1px solid #00ffff;
    }
  }
}

.stageNameCtnr {
  width: 100%;
  width: 100%;
  display: flex;
  margin-left: -30px;
  color: #FFF;

  .snd {
    margin-left: 80px;
  }
}