@media (min-width: 853px) {

    .vorpalPage {
        padding: 40px;
    }

    ._mobile {
        display: none;
    }

    .authSection {
        width: 14%;
        margin-right: 20px;
        min-width: 280px;
    }
}